body {
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin-left: 5px;
}

h1 {
    text-align: center;
    border-bottom: 2px solid #000000;
    margin-right: 5px;
}

img {
    height: 400px;
    width: auto;
}

li {
    margin-bottom: 20px;
}

h3 {
    border-bottom: 2px solid rgba(128, 128, 128, 0.514);
}