body {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-color: antiquewhite;
    border: 2px solid black;
    margin-left: 150px;
    margin-right: 150px;
}

h1 {
    text-align: center;
}

.recipe {
    padding: 5px auto;
}

h2 {
    text-align: center;
}

.recipe {
    border: 2px solid black;
    margin: 50px;
}

img {
    display: block;
    margin: 20px auto;
    width: 500px;
    height: auto;
}
